@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web&display=swap');
:root {
    --text:#450000    ;
    --backround:#f8ca74;
    --link:white;
    --headings-font-family:'Pacifico', cursive;
    --text-font-family:'Titillium Web', sans-serif;

}


body {
    background-color: var(--backround);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}

.toit ul {
    float: left;
    margin: 0;
    margin-left: 2rem;
}

h2 {
    color: var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p    {
    line-height:2;
}

.toit-img  {
    width: 30%;
    float:left;
}
.toit
{
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    width: 50%;
    
}

.retsept {
    margin:2rem;
    text-align: left;
    width: 60%;
    margin:0 auto;
}


* {
    margin: 15px;
    padding: 0;
    box-sizing:border-box;
}

.toit-tekst{
    margin-left: 20%;
    
}


.wrapper a {
    text-decoration: none;
    color:var(--link);
}


@media (min-width: 480px){

    .toit-img{
        width: 100%;
    }
    li{
        font-size:30px;
    }
    
    .retsept{
        width: 100%;
    }
    
    .toit{
        width: 100%;
    }
    * {
        margin:0px;
    }
}

@media (min-width:768px) {
    .body {
        width: 80%;
        margin: 0;
    }
    .toit-img{
        width: 60%;
    }
    li{
        font-size:15px;
    }
    
    .retsept{
        width: 80%;
    }
    
    .toit{
        width: 80%;
    }
}


@media (min-width:1024) {
    .body {
        width: 100%;

    }
    .toit-img{
        width: 30%;
    }
    li{
        font-size:15px;

    }
    
    .retsept{
        width: 60%;
    }
    
    .toit{
        width: 50%;
    }   

}